.match-container{
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 60%;
    width: 100%;
}

.local-club-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 5px 0;
    width: 42.5%;;
    margin-right: 20px;
    margin-left: 5px;
}

.result-container{
    width: 15%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.visit-club-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0 5px 0;
    width: 42.5%;
    margin-left: 20px;
}

.team-name-container{
    background-color: rgb(42, 45, 45, 1);
    display: flex;
}

.teams-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.club-container{
    background-color: rgb(42, 45, 45, 1);
    display: flex;
}

.team-container {
    width: 400px;
}

.club-logo-container{
    height: auto;
    width: 30%;
    margin: auto;
}

.local-club-name-container{
    height: auto;
    width: 70%;
    text-align: start;
    margin: auto;
}

.visit-club-name-container{
    height: auto;
    width: 70%;
    text-align: end;
    margin: auto;
}

.club-logo{
    height: 50px;
}

.title{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.team-points{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}

