.container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 170px;
    height: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header-title{
    list-style-type: bold;
}

.results-container{
    display: block;
    width: 100%;
}

.players-container {
    display: grid;
    grid-template-columns: auto 60px;
    grid-template-rows: repeat(60px, 10);
    gap: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.player-score-input {
    background-color: #CCC;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}




